<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Unit System" lan="LAN_UNIT_TITLE" version="1.0" date="2016-05-06" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="https://github.com/LaocheXe" />
	<summary lan="">Unitexe is a plugin for e107 that has a roster for teams</summary>
	<description lan="">Unit eXe System has the ability to a lot for a unit roster and more, this is a all-in-one roster, medals, awards, badges, pins, ribbons, ranks, training, everything.</description>
	<keywords>
		<word>gaming</word>
		<word>units</word>
		<word>roster</word>
	</keywords>
	<category>manage</category>
	<copyright>LaocheXe</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="#"  perm="everyone" >LAN_UNIT_TITLE</link>
	</siteLinks>
	<pluginPrefs>
		<pref name='Enable Awards'>0</pref>
		<pref name='Enable Badges'>0</pref>
		<pref name='Enable Medals'>0</pref>
		<pref name='Enable Patches'>0</pref>
		<pref name='Enable Pins'>0</pref>
		<pref name='Enable Qualifications'>0</pref>
		<pref name='Enable Ranks'>0</pref>
		<pref name='Enable Ribbons'>0</pref>
		<pref name='Enable Training'>0</pref>
		<pref name='Enable LOA'>0</pref>
		<pref name='Enable Status'>0</pref>
	</pluginPrefs>
	<mediaCategories>
		<category type="image" sef="unit-awards" perm="everyone" image='{e_PLUGIN}unitexe/images/awards.jpg'>Unit Awards</category>
		<category type="image" sef="unit-badges" perm="everyone" image='{e_PLUGIN}unitexe/images/badges.png'>Unit Badges</category>
		<category type="image" sef="unit-medals" perm="everyone" image='{e_PLUGIN}unitexe/images/medals.png'>Unit Medals</category>
		<category type="image" sef="unit-patches" perm="everyone" image='{e_PLUGIN}unitexe/images/patches.png'>Unit Patches</category>
		<category type="image" sef="unit-pins" perm="everyone" image='{e_PLUGIN}unitexe/images/pins.png'>Unit Pins</category>
		<category type="image" sef="unit-qualifications" perm="everyone" image='{e_PLUGIN}unitexe/images/qualifications.png'>Unit Qualifications</category>
		<category type="image" sef="unit-ranks" perm="everyone" image='{e_PLUGIN}unitexe/images/ranks.png'>Unit Ranks</category>
		<category type="image" sef="unit-ribbons" perm="everyone" image='{e_PLUGIN}unitexe/images/ribbons.png'>Unit Ribbons</category>
		<category type="image" sef="unit-training" perm="everyone" image='{e_PLUGIN}unitexe/images/training.png'>Unit Training</category>
	</mediaCategories>
</e107Plugin>